.header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ECECEC;
    
}
@media screen and (min-width: 768px) {
    .header {
        padding-top: 21px;
        padding-bottom: 21px;
    }
}
@media screen and (min-width: 1200px) {
    .header {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width: 1200px) {
    .header__wrapper {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .navigation-list {
        display: none;
    }
    .contact {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .burger-btn-open {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .navigation-list {
        display: flex;
        align-items: center;

    }
    .navigation__item:not(:last-child) {
        margin-right: 50px;
    }
    .contact__link {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .navigation__link {
        color: $color-title-text;
        position: relative;
        padding-bottom: 31px;
        transition: color 250ms $timing-function;

        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 4px;
            background-color: $color-accent;
            border-radius: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
        }

        &.navigation__link--active::after {
            opacity: 1;
        }

        &:hover,
        &:focus {
            color: $color-accent;
        }
    }
}
@media screen and (min-width: 1200px) {
    .contact {
        display: flex;
        margin-left: auto;
    }
}
@media screen and (min-width: 768px) {
    .contact__link {
        color: #757575;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        transition: color 250ms $timing-function;

        &:hover,
        &:focus {
            color: $color-accent;
        }
        &:hover .contact__icon,
        &:focus .contact__icon {
            fill: $color-accent
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &.contact__link--mb {
                margin-bottom: 10px;
            }
            
        }
        @media screen and (min-width: 1200px) {
            &.contact__link--mb {
                margin-right: 30px;
            }

        }
    }
    .contact__icon {
        margin-right: 10px;
        fill: #757575;
        transition: fill 250ms $timing-function;
    }
}
@media screen and (min-width: 1200px) {
    .contact__link {
        font-size: 14px;
    }
}


// .logo {
//     font-family: $second-font;
//     font-size: 26px;
//     font-weight: 700;
//     line-height: 1.2;
//     letter-spacing: 0.03em;

//     &__word1 {
//         color: $color-accent;
//     }
//     &__word2 {
//         color: #000000;
//     }
// }
// .header__logo {
//     margin-right: 93px;
// }
// .navigation__list {
//     display: flex;
// }
// .navigation__item:not(:last-child) {
//     margin-right: 50px;
// }

// .contact {
//     margin-left: auto;
// }
// .contact__link {
//     color: #757575;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.15;
//     letter-spacing: 0.02em;
//     display: inline-flex;
//     align-items: center;
//     transition: color 250ms $timing-function;

//     &:first-child {
//         margin-right: 50px;
//     }
//     &:hover,
//     &:focus {
//         color: $color-accent;
//     }
//     &:hover .contact__icon,
//     &:focus .contact__icon {
//         fill: $color-accent
//     }
// }
// .contact__icon {
//     display: inline-flex;
//     margin-right: 10px;
//     fill: #757575;
//     transition: fill 250ms $timing-function;
// }
