.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-list__item {
    margin-right: 8px;
}
.filter-list__item--mr0 {
    margin-right: 0;
}
.filter-list__btn {
    min-width: 73px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color-title-text;
    background-color: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 6px 22px;
    transition: color 250ms $timing-function, background-color 250ms $timing-function, box-shadow 250ms $timing-function;

    &:hover,
    &:focus {
        background-color: $color-accent;
        color: #fff;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.portfolio__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
    transition: box-shadow 250ms $timing-function;

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.presentation-card {

    &:hover .presentation-card__description,
    &:focus .presentation-card__description {
        opacity: 1;
        transform: translateY(0);
    }   
}
.presentation-card__thumb {
    position: relative;
    overflow: hidden;
}
.presentation-card__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    padding: 64px 24px;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transition: opacity 250ms $timing-function, transform 250ms $timing-function;
    transform: translateY(100%);
}

.presentation-card__wrapper {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    
    .presentation-card__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $color-title-text;
        margin-bottom: 4px;
    }

    .presentation-card__text {
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: #757575;
    }
}