.mobile-menu {

    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    background-color: #fff;
    padding-left: 25px;
    padding-bottom: 48px;
    padding-top: 48px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-50%);
    
    .is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .mobile-navigation-list {
        margin-bottom: 25vh;
    }
    .mobile-navigation__item:not(:last-child) {
        padding-bottom: 32px;
    }
    .mobile-navigation__link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $color-title-text;

        &:hover {
            color: $color-accent;
        }
    }
    .mobile-contact {
        margin-bottom: 64px;
    }
    .mobile-contact__link {
        display: block;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #757575;

        &:hover {
            color: $color-accent;
        }

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    .mobile-contact__icon {
        display: none;
    }
    .social-mobile__list {
        display: flex;
    }
    .social-mobile__item:not(:last-child) {
        margin-right: 20px;
    }
    .social-mobile__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $color-accent;
    }
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
