.service__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: $color-accent;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    min-width: 200px;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 200px;
    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}